////////// SIDEBAR ////////
$sidebar-width-lg: 239px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 70px;

$sidebar-light-bg: #eeeeee;
$sidebar-light-menu-color: #686868;
$sidebar-light-submenu-color: #656565;
$sidebar-light-menu-active-bg: initial;
$sidebar-light-menu-active-color: theme-color(primary);
$sidebar-light-menu-hover-bg: $content-bg;
$sidebar-light-menu-hover-color: #56595a;
$sidebar-light-submenu-hover-color: $black;
$sidebar-light-submenu-active-color: $black;
$sidebar-light-menu-icon-color: #676767;
$sidebar-light-menu-arrow-color: #686868;
$sidebar-light-profile-name-color: #404852;
$sidebar-light-profile-title-color: #8d9498;

$sidebar-dark-bg: #282f3a;
$sidebar-dark-menu-color: #d0cfcf;
$sidebar-dark-menu-active-bg: initial;
$sidebar-dark-menu-active-color: theme-color(primary);
$sidebar-dark-menu-hover-bg: #59606b;
$sidebar-dark-menu-hover-color: #d0cfcf;
$sidebar-dark-submenu-color: $sidebar-dark-menu-color;
$sidebar-dark-submenu-hover-bg: initial;
$sidebar-dark-submenu-hover-color: #9a94a7;
$sidebar-dark-menu-icon-color: $sidebar-dark-menu-color;
$sidebar-dark-profile-name-color: #ffffff;
$sidebar-dark-profile-title-color: #8d9498;

$sidebar-menu-font-size: 0.8125rem;
$sidebar-menu-padding-left: 1.25rem;
$sidebar-menu-padding-right: 1.25rem;
$sidebar-menu-padding-top: 0.75rem;
$sidebar-menu-padding-bottom: 0.75rem;

$sidebar-submenu-padding: .25rem 0 0 3.5rem;
$sidebar-submenu-font-size: .875rem;
$sidebar-submenu-item-padding: 1rem 1rem;

$sidebar-icon-font-size:  1rem;
$sidebar-arrow-font-size: .625rem;

$sidebar-profile-bg: transparent;
$sidebar-profile-padding: 0 1.625rem 2.25rem 1.188rem;

$sidebar-mini-menu-padding: .8125rem 1rem .8125rem 1rem;

$sidebar-icon-only-menu-padding: .5rem 1.625rem .5rem 1.188rem;
$sidebar-icon-only-submenu-padding: 0 0 0 1.5rem;

$sidebar-box-shadow: 6px 16px 31px -18px #b7bcd1;

$rtl-sidebar-submenu-padding: 0 4.5rem 0 0;

$icon-only-collapse-width: 190px;
$icon-only-menu-bg-light: $sidebar-light-bg;
$icon-only-menu-bg-dark: $sidebar-dark-bg;

///////// SIDEBAR ////////

///////// BOXED LAYOUT ///////
$boxed-container-width: 1200px;
$boxed-layout-bg: #c6c8ca;
///////// BOXED LAYOUT ///////

///////// SETTINGS PANEL ////////

$settings-panel-width: 300px;

///////// NAVBAR ////////

$navbar-default-bg: $white;
$navbar-height: 56px;
$navbar-menu-color: #9b9b9b;
$navbar-font-size: 14px;
$navbar-icon-font-size: .9375rem;
$navbar-search-icon: #979797;

///////// NAVBAR ////////