<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
					<a class="navbar-brand brand-logo logo-black" href="index.html"><img src="images/logo.svg" alt="logo"/></a>
					<a class="navbar-brand brand-logo logo-white" href="index.html"><img src="images/logo-white.svg" alt="logo"/></a>
					<a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a>
			</div>
			<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
					<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
							<span class="mdi mdi-menu"></span>
					</button>
					<ul class="navbar-nav navbar-hover mx-lg-2">
							<li class="nav-item d-none d-lg-block">
									<a href="#" class="nav-link">Sales</a>
							</li>
							<li class="nav-item d-none d-lg-block">
									<a href="#" class="nav-link">Purchases</a>
							</li>
							<li class="nav-item d-none d-lg-block">
									<a href="#" class="nav-link">My status</a>
							</li>
					</ul>
					<ul class="navbar-nav navbar-nav-right">
							<li class="nav-item nav-search ">
									<div class="d-none d-md-block">
											<div class="input-group">
													<div class="input-group-prepend">
															<span class="input-group-text" id="search">
																	<i class="mdi mdi-magnify"></i>
															</span>
													</div>
													<input type="text" class="form-control" placeholder="Type to search" aria-label="search" aria-describedby="search">
											</div>
									</div>
							</li>
							<li class="nav-item dropdown">
											<a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
															<i class="mdi mdi-bell-outline"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
													<p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
													<a class="dropdown-item preview-item">
															<div class="preview-thumbnail">
																	<div class="preview-icon bg-success">
																			<i class="mdi mdi-information mx-0"></i>
																	</div>
															</div>
															<div class="preview-item-content">
																	<h6 class="preview-subject font-weight-normal">Application Error</h6>
																	<p class="font-weight-light small-text mb-0 text-muted">
																			Just now
																	</p>
															</div>
													</a>
													<a class="dropdown-item preview-item">
															<div class="preview-thumbnail">
																	<div class="preview-icon bg-warning">
																			<i class="mdi mdi-settings mx-0"></i>
																	</div>
															</div>
															<div class="preview-item-content">
																	<h6 class="preview-subject font-weight-normal">Settings</h6>
																	<p class="font-weight-light small-text mb-0 text-muted">
																			Private message
																	</p>
															</div>
													</a>
													<a class="dropdown-item preview-item">
															<div class="preview-thumbnail">
																	<div class="preview-icon bg-info">
																			<i class="mdi mdi-account-box mx-0"></i>
																	</div>
															</div>
															<div class="preview-item-content">
																	<h6 class="preview-subject font-weight-normal">New user registration</h6>
																	<p class="font-weight-light small-text mb-0 text-muted">
																			2 days ago
																	</p>
															</div>
													</a>
											</div>
									</li>
							<li class="nav-item dropdown">
									<a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
											<i class="mdi mdi-email-outline mx-0"></i>
											<span class="count"></span>
									</a>
									<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
											<p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
											<a class="dropdown-item preview-item">
													<div class="preview-thumbnail">
																	<img src="images/faces/face4.jpg" alt="image" class="profile-pic">
													</div>
													<div class="preview-item-content flex-grow">
															<h6 class="preview-subject ellipsis font-weight-normal">David Grey
															</h6>
															<p class="font-weight-light small-text text-muted mb-0">
																	The meeting is cancelled
															</p>
													</div>
											</a>
											<a class="dropdown-item preview-item">
													<div class="preview-thumbnail">
																	<img src="images/faces/face2.jpg" alt="image" class="profile-pic">
													</div>
													<div class="preview-item-content flex-grow">
															<h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
															</h6>
															<p class="font-weight-light small-text text-muted mb-0">
																	New product launch
															</p>
													</div>
											</a>
											<a class="dropdown-item preview-item">
													<div class="preview-thumbnail">
																	<img src="images/faces/face3.jpg" alt="image" class="profile-pic">
													</div>
													<div class="preview-item-content flex-grow">
															<h6 class="preview-subject ellipsis font-weight-normal"> Johnson
															</h6>
															<p class="font-weight-light small-text text-muted mb-0">
																	Upcoming board meeting
															</p>
													</div>
											</a>
									</div>
							</li>
							<li class="nav-item nav-language dropdown">
									<a class="nav-link count-indicator dropdown-toggle " id="languageDropdown" href="#" data-toggle="dropdown">
											<div class="country-border d-flex justify-content-center align-items-center">
															<span class="flag-icon flag-icon-au mx-0" title="au" id="au"></span>
															<p class="mb-0 ml-1">Aus</p>
															<span class="mdi mdi-unfold-more-horizontal mx-0"></span>   
											</div>           
									</a>
									<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="languageDropdown">
											<p class="mb-0 font-weight-normal float-left dropdown-header">Language</p>
											<a class="dropdown-item preview-item">
													<div class="preview-thumbnail">
																	<i class="flag-icon flag-icon-in" title="in" id="in"></i>
													</div>
													<div class="preview-item-content flex-grow">
															<p class="font-weight-light small-text mb-0">
																	IN
															</p>
													</div>
											</a>
											<a class="dropdown-item preview-item">
													<div class="preview-thumbnail">
																	<i class="flag-icon flag-icon-es" title="es" id="es"></i>
													</div>
													<div class="preview-item-content flex-grow">
															<p class="font-weight-light small-text mb-0">
																	ES
															</p>
													</div>
											</a>
											<a class="dropdown-item preview-item">
													<div class="preview-thumbnail">
																	<i class="flag-icon flag-icon-gr" title="gr" id="gr"></i>
													</div>
													<div class="preview-item-content flex-grow">
															<p class="font-weight-light small-text mb-0">
																	GR
															</p>
													</div>
											</a>
									</div>
							</li>
							<li class="nav-item nav-profile dropdown">
									<a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
											<img src="images/faces/face28.jpg" alt="profile"/>
									</a>
									<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
											<a class="dropdown-item">
													<i class="mdi mdi-settings text-primary"></i>
													Settings
											</a>
											<a class="dropdown-item">
													<i class="mdi mdi-logout text-primary"></i>
													Logout
											</a>
									</div>
							</li>
							<li class="nav-item nav-settings">
									<a class="nav-link" href="#">
											<i class="mdi mdi-dots-horizontal"></i>
									</a>
							</li>
					</ul>
					<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
							<span class="mdi mdi-menu"></span>
					</button>
			</div>
		</nav>