.content-wrapper {
  .card {
    .mdi-dots-horizontal {
      font-size: 24px;
      color: #848484;
    }
    .mdi-unfold-more-horizontal {
      font-size: 13px;
    }
    .card-icon {
      font-size: 20px;
      padding: 3px 5px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 7px;
    }
    .table-market-review {
      .table-marketoverview-delete-icon {
        font-size: 17px;
        padding: 2px 4px;
        background: rgba(255, 134, 134, 0.2);
        border-radius: 7px;
      }
      .table-icon {
        font-size: 13px;
        border: 1px solid #36a753;
        border-radius: 50px;
        padding: 6px;
      }
    }
    .table-invoices {
      th {
        background-color: #f4f2f2;
      }
    }
  } 
  .btn-date {
    .mdi-chevron-down {
      border-left: 1px solid rgba(250, 250, 250,0.3)
    }
  }
  a {
    text-decoration: none;
  }
}


  




    